* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.form--container {
  background-color: #ffbf00;
  width: 40%;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}

.form--header {
  text-align: center;
  margin-bottom: 20px;
}

.form--input {
  margin-bottom: 10px;
  border: none;
  padding: 3px;
}

.form--input:focus {
  outline: none;
  background-color: white;
}

.form--row {
  display: flex;
  width: 60%;
  margin-bottom: 10px;
}

.form--label {
  font-size: small;
  margin-right: auto;
}

.form--submit {
  width: 20%;
  margin: auto;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}

.form--success {
  font-size: small;
  color: green;
}

.table--container {
  width: 60%;
}

.table--search {
  padding: 20px;
}

.table--input {
  padding: 5px;
  border: 1px solid black;
}

.table--input:focus {
  outline: none;
  border: 1px solid black;
  background-color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  font-size: small;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
